:root{
  --background-color: #000000;
  --card-color: #1D1D1D;

  --border-radius-default: 8px;
}



body{
  background-color: #000000;
  margin: 16px;
}

.Card{
  background-color: var(--card-color);
  width: 100%;
  height: 60px;
  border-radius: var(--border-radius-default);
}