:root{
  --background-color: #F2F4F8;
  --card-color: #1D1D1D;

  --border-radius-default: 8px;
}


body{
  background-color: var(--background-color);
  margin: 16px;
}

.CardsCenterSection{
  margin-top: 16px;
  margin-bottom: 16px;
}