

.buttonLogin{
    width: 150px;
    height: 35px;

    border: none;
    border-radius: 4px;
    margin-right: 16px;
    transition: 1s;

    background-color: #000000;
    color: white;
    cursor: pointer;
}

.buttonLogin:hover{
    background-color: #303030;
    color: rgb(208, 208, 208);
}
